@font-face {
  font-family: 'Grandpa_sharing';
  src:
    url('../assets/fonts/subset-NanumHarABeoJiEuiNaNum.woff2') format('woff2'),
    url('../assets/fonts/subset-NanumHarABeoJiEuiNaNum.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
